.product-display {
    width:35vw;
    position: relative;
    border-radius:10px;
    box-shadow: inset 2px 5px 5px 2px rgba(0,0,0,0.5);
}
.desc-img{
    width: 15vw;
    position: absolute;
    right:5rem;
    top:.5rem;
    border-radius:5px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.5s;
}
.desc-img:hover{
    transform: scale(1.1);
}
.product-details h2{
    font-size: 2.0em;
    font-weight: 500;
    margin-top: 0.1em;
    text-transform: capitalize;
}
.pname{
    line-height: .5em;
    font-weight: 400;
}
.price{
    font-size: 1.9em;
}

.btn-sm{
    text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
    .product-display{
        width:90vw;
    }
    .desc-img{
        width: 30vw;
        right:0;
    }
    .product-details h2{
        font-size: 1.5em;
    }
    .pname{
        line-height: .5em;
        font-weight: 400;
        color: #dddbdb;
    }
    .about_prod{
        color: #dddbdb;
    }
    .price{
        font-size: 1.5em;
        color: white;
    }
}