:root {
  --a_secondary: #05386b;
  --a_primary: #5cdb95;
  --white: #fff;
}
.bg-a_secondary {
  background-color: var(--a_secondary);
}
.bg-red {
  background-color: var(--red);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-a_primary {
  background-color: var(--a_primary);
}
.a_secondary {
  color: var(--a_secondary);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}
.a_primary {
  color: var(--a_primary);
}
.white {
  color: var(--white);
}
.btn-primary{
  background-color: var(--a_secondary);
  color: var(--white);
}
.ui-btn {
  border:1px solid var(--a_secondary);
  color: var(--a_secondary);
}
.ui-btn:hover {
  color: var(--white);
  background-color: var(--a_secondary);
}
/*customized*/
